<html>
<head>
<meta http-equiv="content-type" content="test/html;charset=utf-8">
<script  src="../resources/plugins/jqplot/jquery.min.js" type="text/javascript"></script>
</head>
<body>
  <input type="button" value="test" onclick="test();"/>
  <h1>张三</h1>
  <img src="aa.jpg"><br/>
  <img src="image002.png">
</body>
<script type="text/javascript">
var thisUrl = window.location.href;
function test(){
	var dataOption={
    //imgId:id,
    //imgBody:$('#imgstr').val(),
    url:thisUrl
  };
	$.ajax({
		type:'post',
		data:dataOption,
		url:"../getImage.do",
		dataType:'json',
		success:function(data){
		}
	});
}
</script>
</html>