/.settings
.settings
/test
/bakSetting.rar
/Doc
/WebContent/log
/WebContent/DataCenter
/WebContent/tempUpload
/WebContent/uploadFiles
/WebContent/test
/WebContent/log
/WebContent/checkCodeImges
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/pom.xml
/.classpath
/.project
/target


