/Doc
/WebContent/log
/WebContent/analData
/WebContent/reportStore
/WebContent/reportJson
/WebContent/tempUpload
/WebContent/uploadFiles
/WebContent/test
/WebContent/log
/WebContent/checkCodeImges
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/pom.xml

/.classpath
/.project
/target

/test

/WebContent/reportDownLoad