/Doc
/WebContent/log
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/WebContent/analData
/WebContent/tempUpload
/WebContent/uploadFiles
/pom.xml

/.classpath
/.project
/target
/test
/build

