<?xml version="1.0" encoding="UTF-8" ?>

<!--
  任务组
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskGroup">
  <!-- 对象定义:任务组信息 -->
  <resultMap id="BaseResultMap" type="TaskGroup">
    <id     column="id"        property="id"        jdbcType="VARCHAR"/>
    <result column="reportId"  property="reportId"  jdbcType="VARCHAR"/>
    <result column="ownerType" property="ownerType" jdbcType="INTEGER"/>
    <result column="ownerId"   property="ownerId"   jdbcType="VARCHAR"/>
    <result column="workName"  property="workName"  jdbcType="VARCHAR"/>
    <result column="status"    property="status"    jdbcType="INTEGER"/>
    <result column="descn"     property="desc"      jdbcType="VARCHAR"/>
    <result column="beginTime" property="beginTime" jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, reportId, ownerType, ownerId, workName, status, descn, beginTime
  </sql>
  <sql id="Base_Column_List_A">
    a.id, a.reportId, a.ownerType, a.ownerId, a.workName, a.status, a.descn, a.beginTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="reportId!=null"> and reportId=#{reportId,jdbcType=VARCHAR}</if>
        <if test="ownerType!=null and ownerType!=0"> and ownerType=#{ownerType,jdbcType=INTEGER}</if>
        <if test="ownerId!=null"> and ownerId=#{ownerId,jdbcType=VARCHAR}</if>
        <if test="workName!=null"> and workName=#{workName,jdbcType=VARCHAR}</if>
        <if test="status!=null and status!=0"> and status=#{status,jdbcType=INTEGER}</if>
        <if test="desc!=null"> and descn=#{desc,jdbcType=VARCHAR}</if>
        <if test="beginTime!=null"> and beginTime=#{beginTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from sa_task_group <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from sa_task_group
    <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from sa_task_group <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from sa_task_group where id=#{id,jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into sa_task_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="reportId!=null">reportId,</if>
      <if test="ownerType!=null and ownerType!=0">ownerType,</if>
      <if test="ownerId!=null">ownerId,</if>
      <if test="workName!=null">workName,</if>
      <if test="status!=null and status!=0">status,</if>
      <if test="desc!=null">descn,</if>
      <if test="beginTime!=null">beginTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="reportId!=null">#{reportId,jdbcType=VARCHAR},</if>
      <if test="ownerType!=null and ownerType!=0">#{ownerType,jdbcType=INTEGER},</if>
      <if test="ownerId!=null">#{ownerId,jdbcType=VARCHAR},</if>
      <if test="workName!=null">#{workName,jdbcType=VARCHAR},</if>
      <if test="status!=null and status!=0">#{status,jdbcType=INTEGER},</if>
      <if test="desc!=null">#{desc,jdbcType=VARCHAR},</if>
      <if test="beginTime!=null">#{beginTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update sa_task_group
    <set>
      <if test="reportId!=null">reportId=#{reportId,jdbcType=VARCHAR},</if>
      <if test="ownerType!=null and ownerType!=0">ownerType=#{ownerType,jdbcType=INTEGER,}</if>
      <if test="ownerId!=null">ownerId=#{ownerId,jdbcType=VARCHAR},</if>
      <if test="workName!=null">workName=#{workName,jdbcType=VARCHAR},</if>
      <if test="status!=null and status!=0">status=#{status,jdbcType=INTEGER},</if>
      <if test="desc!=null">descn=#{desc,jdbcType=VARCHAR},</if>
      <if test="beginTime!=null">beginTime=#{beginTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from sa_task_group where id=#{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from sa_task_group <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>

  <!-- 调整所属者Id -->
  <update id="changeOwner" parameterType="java.util.Map">
    update sa_task_group set ownerId=#{newOwnerId,jdbcType=VARCHAR}, ownerType=1 where ownerId=#{oldOwnerId,jdbcType=VARCHAR} and ownerType=2
  </update>

  <!-- 获得可够执行的任务组信息 -->
  <select id="getCanExecuteTaskGroups" resultMap="BaseResultMap">
    select <include refid="Base_Column_List_A"/> from sa_task_group a
    where (a.status=1) and (a.id in (select distinct b.taskGId from sa_task_info b where b.status=1 or b.status=4))
    order by a.beginTime
  </select>
</mapper>