<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="importFileLog" >
  <resultMap id="BaseResultMap" type="ImpFileLog" >
    <id     column="id"        property="id"        jdbcType="VARCHAR" />
    <result column="ownerId"   property="ownerId"   jdbcType="VARCHAR" />
    <result column="ownerType" property="ownerId"   jdbcType="INTEGER" />
    <result column="sFileName" property="sFileName" jdbcType="VARCHAR" />
    <result column="cFileName" property="cFileName" jdbcType="VARCHAR" />
    <result column="fileSize"  property="fileSize"  jdbcType="INTEGER" />
    <result column="cTime"     property="cTime"     jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="java.util.Map">
    insert into sa_imp_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerId != null" >
        ownerId,
      </if>
      <if test="ownerType!=null and ownerType!=0" >
        ownerType,
      </if>
      <if test="sFileName != null" >
        sFileName,
      </if>
      <if test="fileSize != null" >
        fileSize,
      </if>
      <if test="cFileName != null" >
        cFileName,
      </if>
      <if test="cTime != null" >
        cTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerType!=null and ownerType!=0" >
        #{ownerType,jdbcType=INTEGER},
      </if>
      <if test="sFileName != null" >
        #{sFileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="cFileName != null" >
        #{cFileName,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>