<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrgMapper" >
  <resultMap id="BaseResultMap" type="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerid" jdbcType="VARCHAR" />
    <result column="tmId" property="tmid" jdbcType="VARCHAR" />
    <result column="tableName" property="tablename" jdbcType="VARCHAR" />
    <result column="tableType" property="tabletype" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ownerId, tmId, tableName, tableType, cTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sa_md_tabmap_org
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sa_md_tabmap_org
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrgExample" >
    delete from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    insert into sa_md_tabmap_org (id, ownerId, tmId, 
      tableName, tableType, cTime
      )
    values (#{id,jdbcType=VARCHAR}, #{ownerid,jdbcType=VARCHAR}, #{tmid,jdbcType=VARCHAR}, 
      #{tablename,jdbcType=VARCHAR}, #{tabletype,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    insert into sa_md_tabmap_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerid != null" >
        ownerId,
      </if>
      <if test="tmid != null" >
        tmId,
      </if>
      <if test="tablename != null" >
        tableName,
      </if>
      <if test="tabletype != null" >
        tableType,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=VARCHAR},
      </if>
      <if test="tmid != null" >
        #{tmid,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tabletype != null" >
        #{tabletype,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrgExample" resultType="java.lang.Integer" >
    select count(*) from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sa_md_tabmap_org
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerid != null" >
        ownerId = #{record.ownerid,jdbcType=VARCHAR},
      </if>
      <if test="record.tmid != null" >
        tmId = #{record.tmid,jdbcType=VARCHAR},
      </if>
      <if test="record.tablename != null" >
        tableName = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.tabletype != null" >
        tableType = #{record.tabletype,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null" >
        cTime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sa_md_tabmap_org
    set id = #{record.id,jdbcType=VARCHAR},
      ownerId = #{record.ownerid,jdbcType=VARCHAR},
      tmId = #{record.tmid,jdbcType=VARCHAR},
      tableName = #{record.tablename,jdbcType=VARCHAR},
      tableType = #{record.tabletype,jdbcType=INTEGER},
      cTime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    update sa_md_tabmap_org
    <set >
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=VARCHAR},
      </if>
      <if test="tmid != null" >
        tmId = #{tmid,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tableName = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tabletype != null" >
        tableType = #{tabletype,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    update sa_md_tabmap_org
    set ownerId = #{ownerid,jdbcType=VARCHAR},
      tmId = #{tmid,jdbcType=VARCHAR},
      tableName = #{tablename,jdbcType=VARCHAR},
      tableType = #{tabletype,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>