<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tableMapOrg" >
  <resultMap id="BaseResultMap" type="com.gmteam.spiritdata.importdata.excel.pojo.TableMapOrg" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerId" jdbcType="VARCHAR" />
    <result column="tmId" property="tmId" jdbcType="VARCHAR" />
    <result column="tableName" property="tableName" jdbcType="VARCHAR" />
    <result column="tableType" property="tableType" jdbcType="INTEGER" />
    <result column="cTime" property="cTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.TableMapOrg" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sa_md_tabmap_org
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sa_md_tabmap_org
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.TableMapOrg" >
    delete from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    insert into sa_md_tabmap_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerId != null" >
        ownerId,
      </if>
      <if test="tmId != null" >
        tmId,
      </if>
      <if test="tableName != null" >
        tableName,
      </if>
      <if test="tableType != null" >
        tableType,
      </if>
      <if test="cTime != null" >
        cTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        #{tmId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableType != null" >
        #{tableType,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.TableMapOrg" resultType="java.lang.Integer" >
    select count(*) from sa_md_tabmap_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sa_md_tabmap_org
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        ownerId = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.tmId != null" >
        tmId = #{record.tmId,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        tableName = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableType != null" >
        tableType = #{record.tableType,jdbcType=INTEGER},
      </if>
      <if test="record.cTime != null" >
        cTime = #{record.cTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmteam.spiritdata.importdata.excel.pojo.MdTabMapOrg" >
    update sa_md_tabmap_org
    <set >
      <if test="ownerId != null" >
        ownerId = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        tmId = #{tmId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        tableName = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableType != null" >
        tableType = #{tableType,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        cTime = #{cTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>