<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SA_UGA">
<resultMap id="userMap" type="WebUser">
  <id     column="Id"         property="userId"     jdbcType="VARCHAR" />
  <result column="loginName"  property="loginName"  jdbcType="VARCHAR" />
  <result column="userName"   property="userName"   jdbcType="VARCHAR" />
  <result column="password"   property="password"   jdbcType="VARCHAR" />
  <result column="mailAdress" property="mailAdress" jdbcType="VARCHAR" />
  <result column="nickName"   property="nickName"   jdbcType="VARCHAR" />
  <result column="userType"   property="userType"   jdbcType="INTEGER" />
  <result column="descn"      property="descn"      jdbcType="VARCHAR" />
  <result column="cTime"      property="CTime"      jdbcType="TIMESTAMP" />
  <result column="lmTime"     property="lmTime"     jdbcType="TIMESTAMP" />
  <result column="userState"  property="userState"  jdbcType="INTEGER" />
  <result column="validataSequence" property="validataSequence" jdbcType="VARCHAR" />
</resultMap>
<update id="updateUser" parameterType="java.util.Map" >
  update plat_user
  <set >
    <if test="userId != null" >
      id = #{userId,jdbcType=VARCHAR},
    </if>
    <if test="password != null" >
      password = #{password,jdbcType=VARCHAR},
    </if>
    <if test="mailAdress != null" >
      mailAdress = #{mailAdress,jdbcType=VARCHAR},
    </if>
    <if test="nickName !=null" >
      nickName = #{nickName,jdbcType=INTEGER},
    </if>
    <if test="userType !=null" >
      userType = #{userType,jdbcType=INTEGER},
    </if>
    <if test="descn != null" >
      descn = #{descn,jdbcType=VARCHAR},
    </if>
    <if test="CTime != null" >
      cTime = #{CTime,jdbcType=TIMESTAMP},
    </if>
    <if test="lmTime != null" >
      lmTime = #{lmTime,jdbcType=TIMESTAMP},
    </if>
    <if test="userState != null" >
      userState = #{userState,jdbcType=INTEGER},
    </if>
    <if test="validataSequence != null" >
      validataSequence = #{validataSequence,jdbcType=VARCHAR},
    </if>
  </set>
  where id = #{userId,jdbcType=VARCHAR}
</update>
<insert id="insertUser" parameterType="java.util.Map">
  insert into plat_user
  <trim prefix="(" suffix=")" suffixOverrides="," >
    <if test="userId != null" >
      id,
    </if>
    <if test="loginName != null" >
      loginName,
    </if>
    <if test="userName != null" >
      userName,
    </if>
    <if test="password != null" >
      password,
    </if>
    <if test="mailAdress!=null" >
      mailAdress,
    </if>
    <if test="nickName != null" >
      nickName,
    </if>
    <if test="descn != null" >
      descn,
    </if>
     <if test="userState != null" >
      userState,
    </if>
    <if test="userType!=null" >
      userType,
    </if>
    <if test="validataSequence != null" >
      validataSequence,
    </if>
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="userId != null" >
      #{userId,jdbcType=VARCHAR},
    </if>
    <if test="loginName != null" >
      #{loginName,jdbcType=VARCHAR},
    </if>
    <if test="userName != null" >
      #{userName,jdbcType=VARCHAR},
    </if>
    <if test="password != null" >
      #{password,jdbcType=VARCHAR},
    </if>
    <if test="mailAdress !=null " >
      #{mailAdress,jdbcType=INTEGER},
    </if>
    <if test="nickName != null" >
      #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="descn != null" >
      #{descn,jdbcType=VARCHAR},
    </if>
    <if test="userState != null" >
      #{userState,jdbcType=INTEGER},
    </if>
    <if test="userType != null" >
      #{userType,jdbcType=INTEGER},
    </if>
    <if test="validataSequence != null" >
      #{validataSequence,jdbcType=VARCHAR},
    </if>
  </trim>
</insert>
  
<select id="getUserByLoginName" resultMap="userMap" parameterType="java.lang.String">
select * from plat_user where loginName=#{loginName,jdbcType=VARCHAR}
</select>

<select id="getUserByMailAdress" resultMap="userMap" parameterType="java.lang.String">
select * from plat_user where mailAdress=#{mailAdress,jdbcType=VARCHAR}
</select>

<select id="getUserById" resultMap="userMap" parameterType="java.lang.String">
select * from plat_user where id=#{id,jdbcType=VARCHAR}
</select>
</mapper>