<?xml version="1.0" encoding="UTF-8" ?>
<!--
  基础元数据：元数据列描述
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="metadataColumn" >
  <!-- 对象定义:元数据列模式 -->
  <resultMap id="BaseResultMap" type="MdCol" >
    <id     column="id"          property="id"          jdbcType="VARCHAR" />
    <result column="tmId"        property="mdMId"        jdbcType="VARCHAR" />
    <result column="columnName"  property="columnName"  jdbcType="VARCHAR" />
    <result column="columnType"  property="columnType"  jdbcType="VARCHAR" />
    <result column="columnIndex" property="columnIndex" jdbcType="INTEGER" />
    <result column="titleName"   property="titleName"   jdbcType="VARCHAR" />
    <result column="isPk"        property="isPk"        jdbcType="INTEGER" />
    <result column="cTime"       property="cTime"       jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 所有列 -->
  <sql id="Base_Column_List" >
    id, tmId, columnName, columnType, columnIndex, titleName, isPk, cTime
  </sql>
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        <if test="id != null" > and id = #{id,jdbcType=VARCHAR} </if>
        <if test="tmId != null" > and tmId = #{mdMId,jdbcType=VARCHAR} </if>
        <if test="columnName != null" > and columnName = #{columnName,jdbcType=VARCHAR} </if>
        <if test="columnType != null" > and columnType = #{columnType,jdbcType=VARCHAR} </if>
        <if test="columnIndex != null" > and columnIndex = #{columnIndex,jdbcType=INTEGER} </if>
        <if test="columnName != null" > and columnName = #{columnName,jdbcType=VARCHAR} </if>
        <if test="isPk != null" > and isPk = #{isPk,jdbcType=INTEGER} </if>
        <if test="cTime != null" > and cTime = #{cTime,jdbcType=TIMESTAMP} </if>
      </trim>
    </where>
  </sql>
  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from sa_md_column
    <if test="_parameter != null" >
      <include refid="WhereClauseByEntiey" />
    </if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
    from sa_md_column
    <if test="_parameter != null" >
      <include refid="WhereClauseByEntiey" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
    from sa_md_column
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
    from sa_md_column
    <if test="_parameter != null" >
      <include refid="WhereClauseByEntiey" />
    </if>
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map" >
    insert into sa_md_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tmId != null" >
        tmId,
      </if>
      <if test="columnName != null" >
        columnName,
      </if>
      <if test="titleName != null" >
        titleName,
      </if>
      <if test="columnType != null" >
        columnType,
      </if>
      <if test="columnIndex != null" >
        columnIndex,
      </if>
      <if test="isPk != null" >
        isPk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        #{mdMId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnIndex != null" >
        #{columnIndex,jdbcType=INTEGER},
      </if>
      <if test="isPk != null" >
        #{isPk,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 修改 根据主键 -->
  <update id="update" parameterType="java.util.Map" >
    update sa_md_column
    <set >
      <if test="tmId != null" >
        tmId = #{mdMId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        columnName = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        titleName = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        columnType = #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnIndex != null" >
        columnIndex = #{columnIndex,jdbcType=INTEGER},
      </if>
      <if test="isPk != null" >
        isPk = #{isPk,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        cTime = #{cTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from sa_md_column where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map" >
    delete from sa_md_column
    <if test="_parameter != null" >
      <include refid="WhereClauseByEntiey" />
    </if>
  </delete>
</mapper>