<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="quotaTable" >
  <resultMap id="BaseResultMap" type="com.gmteam.spiritdata.metadata.relation.pojo.QuotaTable" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tmoId" property="tmoId" jdbcType="VARCHAR" />
    <result column="tmId" property="tmId" jdbcType="VARCHAR" />
    <result column="tableName" property="tableName" jdbcType="VARCHAR" />
    <result column="allCount" property="allCount" jdbcType="INTEGER" />
    <result column="cTime" property="cTime" jdbcType="TIMESTAMP" />
    <result column="lmTime" property="lmTime" jdbcType="TIMESTAMP" />
    <result column="laTime" property="laTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sa_md_tablequota
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sa_md_tablequota
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmteam.spiritdata.metadata.relation.pojo.QuotaTable" >
    delete from sa_md_tablequota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.gmteam.spiritdata.metadata.relation.pojo.QuotaTable" >
    insert into sa_md_tablequota
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tmoId != null" >
        tmoId,
      </if>
      <if test="tmId != null" >
        tmId,
      </if>
      <if test="tableName != null" >
        tableName,
      </if>
      <if test="allCount != null" >
        allCount,
      </if>
      <if test="cTime != null" >
        cTime,
      </if>
      <if test="lmTime != null" >
        lmTime,
      </if>
      <if test="laTime != null" >
        laTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tmoId != null" >
        #{tmoId,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        #{tmId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="allCount != null" >
        #{allCount,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmTime != null" >
        #{lmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laTime != null" >
        #{laTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmteam.spiritdata.metadata.relation.pojo.QuotaTable" resultType="java.lang.Integer" >
    select count(*) from sa_md_tablequota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sa_md_tablequota
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.tmoId != null" >
        tmoId = #{record.tmoId,jdbcType=VARCHAR},
      </if>
      <if test="record.tmId != null" >
        tmId = #{record.tmId,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        tableName = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.allCount != null" >
        allCount = #{record.allCount,jdbcType=INTEGER},
      </if>
      <if test="record.cTime != null" >
        cTime = #{record.cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lmTime != null" >
        lmTime = #{record.lmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.laTime != null" >
        laTime = #{record.laTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmteam.spiritdata.metadata.relation.pojo.QuotaTable" >
    update sa_md_tablequota
    <set >
      <if test="tmoId != null" >
        tmoId = #{tmoId,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        tmId = #{tmId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        tableName = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="allCount != null" >
        allCount = #{allCount,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        cTime = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmTime != null" >
        lmTime = #{lmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laTime != null" >
        laTime = #{laTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>