@CHARSET "UTF-8";

/*=主页=========*/
#fileIn {
  position:absolute;
  width:650px;
  height:175px;
  top:50px;
}
#dayLogo {
  position:absolute;
  width:500px;
  height:160px;
}
#mlogo {
  float:right;
  max-height:158px;
  height:expression(this.width>184?this.height=this.height*184/this.width:auto);
  width:expression(this.width>184?184:auto);
  max-width:184px; 
}
#internet, #plus {
  position:absolute;
  font-size:70px;
  font-weight:900;
  color:#CC3333;
  font-style:oblique;
  font-family:'黑体';
}
#descript {
  position:absolute;
  font-size:24px;
  font-weight:bold;
  font-family:'黑体';
  color:#055A2E;
}
#inForm {
  position:absolute;
  padding:0px;
  margin:0px;
  width:640px;
  height:36px;
  top:165px;
}
#upf {display:none;}
#upIcon {
  position:absolute;
  width:25px;
  height:25px;
  border:1px solid blue;
  top:4px;
  left:9px;
  background-image:url(../../resources/images/uploadIcon.gif)
}
#su {
  width:100px;
  height:35px;
  display:inline-block;
  border:1px solid #067239;
  border-left:0px;
  border-radius:0 3px 3px 0;
  background-image:-webkit-linear-gradient(bottom, #64CD4F 31%, #43D454);
  background-color:#399D27;
  font:15px 宋体 Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  color:#fff;
  margin-left:-7px;
}
#upfs {
  width:495px;
  height:33px;
  display:inline-block;
  border:1px solid #067239;
  border-radius:3px 0 0 3px;
  padding-left:35px;
  font:12px 宋体 Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  color:#bfbfbf;
}

/*休息等待区*/
#waittingArea {
  position:absolute;
  border:1px solid #BCCBDC;
  width:505px;
  height:300px;
  top:230px;
  display:none;
}
#ppbar {
  position:absolute;
  width:505px;
  height:35px;
}
#pp {
  position:absolute;
  width:435px;
  top:6px;
  left:20px;
}
#logshow {
  position:absolute;
  border-top:1px solid #BCCBDC;
  width:505px;
  height:264px;
  top:35px;
  overflow-y:auto;
}
#showResult {
  position:absolute;
  width:25px;
  height:25px;
  border:1px solid blue;
  border-radius:3px;
  top:4px;
  left:473px;
  background-image:url(resources/images/uploadIcon.gif)
}

.div_center{margin:0 auto;text-align:center;}
.div_inline{display:inline}

.icp {
  position:absolute;
  margin-bottom:20px;
  width:500px;
  height:30px; text-height:30px;
  text-align:center;
  top:500px;
  color: #666666;
}
/** 介绍功能区 */
#tabBar {
  width:500px; height:30px;
  position:inherit;
  margin-left:5px;
}
#tabPanels {
  border:1px solid #067239;
  position:absolute;
  display:inline;
  width:500px;height:160px;text-height:160px;
  padding-top:1px;
}
.tabPanel {
  display:none;
  width:490px;height:145px;text-height:145px;
  text-align:left;
  padding:5px;
  padding-bottom:10px;
  overflow-x:auto; overflow-y:auto; 
}
.tabPanel span {
  font-weight:bold;
}

/*=页签=========*/
/* 页签容器 */
.tabsContainer {
  border:0;
  border-bottom:0px solid #589C8D;
  background:url('../images/mainPage/mainTabBanner.jpg') repeat-x;
}
/* 页签文字 */
.tab_title {
  position:absolute;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-decoration:inherit;
  font-size:inherit;
  font-family:inherit;
}
/* 页签主体 */
.tab {
  position:absolute;
  text-align:center; align:center;
  background-color:#fff;
  font-size:14px; font-family:Times, '宋体'; color:#067239;
}
/* 一般页签未选中 */
.tab_normal {
  border-top:1px solid #067239;
  border-right:1px solid #067239;
  border-bottom:0px solid #067239;
  border-left:0px solid #067239;
  font-size:14px; font-family:Times, '宋体';
  color:#353535;
}
/* 一般页签选中 */
.tab_sel {
  border-top:3px solid #067239;
}
/* 第一页签未选中 */
.tab_normal_f {
  border-top:1px solid #067239;
  border-right:1px solid #067239;
  border-bottom:0px solid #067239;
  border-left:1px solid #067239;
  font-size:14px; font-family:Times, '宋体';
  color:#353535;
}
/* 第一页签选中 */
.tab_sel_f {
  border-top:3px solid #067239;
  padding-top:-2px;
}
/* 最后页签未选中 */
.tab_normal_l {
  border-top:1px solid #067239;
  border-right:1px solid #067239;
  border-bottom:0px solid #067239;
  border-left:0px solid #067239;
  font-size:14px; font-family:Times, '宋体';
  color:#353535;
}
/* 最后页签选中 */
.tab_sel_l {
  border-top:3px solid #067239;
}
/* 页签鼠标悬停 */
.tab_mouseOver {
  color:blue;
  cursor:pointer;
  text-decoration:underline;
  text-shadow:0px 0px 1px #067239;
}
/* 页签交互区 */
.tab_m{
  position:absolute;
}
/* 第一页签交互区未选中 */
.tab_m_f_n {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mtabSf.jpg') repeat-x;
  background-color:transparent;
}
/* 第一页签交互区选中 */
.tab_m_f_s {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mtabSfSelected.jpg') repeat-x;
  background-color:transparent;
}
/* 一般页签交互区未选中_左 */
.tab_m_nl {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mainTabBanner.jpg') repeat-x;
  background-color:transparent;
}
/* 一般页签交互区未选中_右 */
.tab_m_nr {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mainTabBanner.jpg') repeat-x;
  background-color:transparent;
}
/* 一般页签交互区选中_左 */
.tab_m_sl {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mtabSSelectedL.png') repeat-x;
  background-color:transparent;
}
/* 一般页签交互区选中_右 */
.tab_m_sr {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mtabSSelectedR.png') repeat-x;
  background-color:transparent;
}
/* 最后页签交互区未选中 */
.tab_m_l_n {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mainTabBanner.jpg') repeat-x;
  background-color:transparent;
}
/* 最后页签交互区选中 */
.tab_m_l_s {
  border-top:0px solid #067239;
  border-right:0px solid #067239;
  border-left:0px solid #067239;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  background: url('../images/mainPage/mtabSSelectedR.png') repeat-x;
  background-color:transparent;
}