/**
 * 头部设置
 */
/*报告标题*/
#rTitle {
  height:40px; padding:10px; padding-left: 30px; font-size:36px; font-weight:bold;
}

/**
 *右侧树
 */
#sideFrame {
  width:255px; padding-left:20px; position:fixed;
}
#catalogTree {
  border:1px solid #E6E6E6; width:258px;
}

/**
 * 页脚设置
 */
#footSegment {
  background-color:#fff;
}

/**
 * 头部设置
 */
/*报告标题*/
#rTitle {
  height:40px; padding:10px; padding-left: 30px; font-size:36px; font-weight:bold;
}

/**
 *右侧树
 */
#sideFrame {
  width:270px; padding-left:20px; position:fixed;
}
#catalogTree {
  border:1px solid #E6E6E6; width:258px;
}

/**
 * 页脚设置
 */
#footSegment {
  border:0px;
}

/**
 * 标签解释失败的提示区域
 */
.dtagParseErr {
  border:1px solid red; color:red; font-style:oblique; font-style:italic
}
.dtagParseErrDiv {
  height:100px; width:240px;
  background-color:#eee;
}

/**
 * 标签显示区域
 */
/*等待的框*/
.dtagTextWaiting {
  height:24px; width:100px;
  border:1px solid #eee;
  padding-left: 5px;
  padding-right: 5px;
  color:#eee;
}
/*正常的框*/
.dtagTextShow {
  height:24px; width:100px;
  border:0px solid #eee;
  padding-left: 1px;
  padding-right: 1px;
  color:inherit;
}
.dtagDiv {
  height:100px; width:240px;
  border:1px solid #95B8E7;
  margin:3px;
  color:#eee;
}

/**
 * 提示错误的span元素
 */
.errMsgSpan {
  color:red;
}

/**
 * 提示框
 */
#_tooltip{
  position:absolute;
  display:none;
  border:1px solid #fdd;
  padding:2px;
  background-color:#fee;
  opacity:0.8;
}

/**
 * 段标签群
 */
/* 段 */
.segment {
  padding-left:5px;
  border:0px solid red;
}
/* 段标题 */
.segTitle{
  font-weight:bold;
  border:0px solid blue;
}
/* 段内容 */
.segContent{
  padding-left:10px;
  border:0px solid green;
}

/* 第0级段 */
.segment_0 {
  padding-top:8px;
  padding-left:0px;
  padding-bottom:6px;
  border:1px solid #D3D3D3;
  margin-bottom:10px;
}
/* 第0级段标题 */
.segTitle_0 {
  font-size:24px;
  padding-left:14px;
  border-bottom:1px solid #D3D3D3;
}
/* 第0级段内容 */
.segContent_0 {
}

/* 第1级段 */
.segment_1 {
  padding-top:6px;
  padding-left:12px;
  padding-bottom:4px;
}
/* 第1级段标题 */
.segTitle_1 {
  font-size:20px;
}
/* 第1级段内容 */
.segContent_1 {
}

/* 第2级段 */
.segment_2 {
  padding-top:4px;
  padding-left:10px;
  padding-bottom:2px;
}
/* 第2级段标题 */
.segTitle_2 {
  font-size:16px;
}
/* 第2级段内容 */
.segContent_2 {
}

/* 第3级段 */
.segment_3 {
}
/* 第3级段标题 */
.segTitle_3 {
  font-size:12px;
}
/* 第3级段内容 */
.segContent_3 {
}